jobs:
  build:
    name: Test
    timeout-minutes: 15
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [chrome, firefox]

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.26.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"

      - name: Display Chrome version
        run: google-chrome --version

      - name: Display Firefox version
        run: firefox --version

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Run Cypress Test On ${{matrix.browser}} Browser
        uses: cypress-io/github-action@v5
        with:
          command: pnpm run test:${{ matrix.browser }}
        env:
          # Change this value according to what you need
          SECRET_VALUE: ${{ secrets.SECRET_VALUE }}
